{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% form_theme formAbsence "TeckmebAdministrationBundle:Form:fields2.html.twig" %}
{% block title %}
    Absences
{% endblock %}
{% block script %}
    {{ parent() }}
    {% javascripts filter='?jsqueeze' 'assets/js/Absence/absence.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block style %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite, ?scssphp' 'assets/css/Absence/absence.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
    {% endstylesheets %}
{% endblock %}
{% block body %}
    {{ parent() }}
    <main class="container">
        <div class="col s12" id="Student">
            <h4 class="header">Ajouter une absence</h4>
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s9">
                            <i class="material-icons prefix">account_circle</i>
                            <input class="autocomplete" id="autocomplete-input" type="text">
                                <label for="autocomplete-input">Rechercher un étudiant ...</label>
                            </div>
                            <div class="col s3">
                                <a href="{{ path('teckmeb_absence_viewAll')}}" class="btn-flat waves-effect" id="modifyButton">Modifier les absences</a>
                            </div>
                        </div>
                        <div class="section" id="list-student">
                            <div class="row">
                                <table class="centered striped" id="tableStudent">
                                    <thead>
                                        <th>Numéro étudiant</th>
                                        <th>Nom</th>
                                        <th>Prénom</th>
                                        <th>Groupe</th>
                                    </thead>
                                    <tbody>
                                        {% for student in listStudent %}
                                            {% if student.currentGroupe.semestre.active %}
                                                <tr>
                                                    <td>
                                                        <a href="#modal1" onclick="setStudentId({{student.id}})" class="modal-trigger" style="color:black;" id="{{student.id}}">
                                                            {{student.numStudent}}</a>
                                                    </td>
                                                    <td>
                                                        <a class="modal-trigger" href="#modal1" onclick="setStudentId({{student.id}})" style="color:black;">
                                                            {{student.user.surname|title}}</a>
                                                    </td>
                                                    <td>
                                                        <a class="modal-trigger" href="#modal1" onclick="setStudentId({{student.id}})" style="color:black;">
                                                            {{student.user.name|title}}</a>
                                                    </td>
                                                    <td>
                                                        <a class="modal-trigger" href="#modal1" onclick="setStudentId({{student.id}})" style="color:black;">
                                                            {{student.currentGroupe}}</a>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                            {% else %}
                                            <tr>
                                                <td colspan="3">Pas d'étudiants</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Structure -->
            <div class="modal" id="modal1">
                <div class="modal-content">
                    <h4>Formulaire absence</h4>
                    {{ form_start(formAbsence) }}
                    {{ form_errors(formAbsence) }}
                    <div class="row">
                        <div class="input-field col s12 m6 l5">
                            {{ form_widget(formAbsence.beginDate) }}
                            <label>
                                {{ form_label(formAbsence.beginDate, "Date de l'absence") }}</label>
                        </div>
                        <div class="input-field col s12 m6 l5">
                            {{ form_widget(formAbsence.absenceType) }}
                            <label>
                                {{ form_label(formAbsence.absenceType, "Type de l'absence") }}</label>
                        </div>
                        <div class="input-field col s12 m6 l2">
                            <label>
                                {{ form_widget(formAbsence.justified) }}
                                <span>
                                    {{ form_label(formAbsence.justified, "Justifié") }}</span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6 l6">
                            Matin
                            <div class="card-panel blue-grey lighten-2 center-align" id="button3" onclick="changeColor(3)">08:00 - 12:00</div>
                        </div>
                        <div class="col s12 m6 l6">
                            Après-midi
                            <div class="card-panel blue-grey lighten-2 center-align" id="button6" onclick="changeColor(6)">14:00 - 18:00</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m6 l3">
                            <div class="card-panel blue-grey lighten-2 center-align" id="button1" onclick="changeColor(1)">08:00 - 10:00
                            </div>
                        </div>
                        <div class="col s12 m6 l3">
                            <div class="card-panel blue-grey lighten-2 center-align" id="button2" onclick="changeColor(2)">10:00 - 12:00</div>
                        </div>
                        <div class="col s12 m6 l3">
                            <div class="card-panel blue-grey lighten-2 center-align" id="button4" onclick="changeColor(4)">14:00 - 16:00</div>
                        </div>
                        <div class="col s12 m6 l3">
                            <div class="card-panel blue-grey lighten-2 center-align" id="button5" onclick="changeColor(5)">16:00 - 18:00</div>
                        </div>
                    </div>
                    {{ form_rest(formAbsence) }}
                    {{ form_end(formAbsence) }}
                </div>
                <div class="modal-footer">
                    <a class="modal-close waves-effect btn-flat" href="#!" onclick="envoie()">Valider</a>
                    <a class="btn-flat modal-close">Retour</a>
                </div>
            </div>
        </main>
    {% endblock %}
