<div class="card hoverable">
    <a class="black-text" href="{{path('teckmeb_absence_homepage')}}">
        <div class="card-content">
            <span class="card-title">Dernières absences</span>
            <table class="centered highlight striped">
                <thead>
                    <th>Nom</th>
                    <th>Groupe</th>
                    <th>Date</th>
                </thead>
                <tbody>
                    {% if listAbsence is not null %}
                        {% for absence in listAbsence %}
                            <tr>
                                <td>
                                    <a class="black-text" href="{{path('teckmeb_absence_modify' , {id : absence.id})}}">
                                        {{absence.student}}
                                    </a>
                                </td>
                                <td>
                                    <a class="black-text" href="{{path('teckmeb_absence_modify' , {id : absence.id})}}">
                                        {{absence.groupe}}
                                    </a>
                                </td>
                                <td>
                                    <a class="black-text" href="{{path('teckmeb_absence_modify' , {id : absence.id})}}">
                                        {{absence.beginDate|date('d/m/Y')}}
                                    </a>
                                </td>
                            </tr>
                    {% else %}
                        {% endfor %}
                {% else %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </a>
</div>