{% extends "TeckmebDashboardBundle::layout.html.twig" %}
{% block title %}
    Notes
{% endblock %}
{% block script %}
    {{ parent() }}
    {% javascripts filter='?jsqueeze' 'assets/js/Mark/mark_view.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block body %}
    {{ include("TeckmebDashboardBundle::navbarExtend.html.twig") }}
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            {% for semestre, semestreList in listOrderMark %}
                <li class="tab col s3">
                    <a {% if loop.last %} class="active" {% endif %} href="#{{semestreList.nameTabs}}">
                        {{semestre}}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
<main class="container">
    {% for semestre, semestreList in listOrderMark %}
        <div id="{{semestreList.nameTabs}}" class="col s12">
            <h4 class="header">Notes de
                {{semestre}}</h4>
            {% if semestreList.Moyenne is not null %}
                <p class="flow-text center-align">Moyenne du semestre :
                    {{semestreList.Moyenne|round(2)}}<small>/20</small>
                </p>
            {% endif %}
            {% for subject in semestreList.listSubject %}
                {% if subject.listMark is not empty %}
                    <div class="card  ">
                        <div class="card-content">
                            <div class="card-title row">
                                <div class="col s12 m6">
                                    <i class="material-icons small left">school</i>
                                    <h5>
                                        {{subject.subject.subjectFullName}}</h5>
                                </div>
                                <div class="col s12 m6 right-align">
                                    <span>Coefficient :
                                        {{ subject.subject.subjectCoefficient }}</span>
                                </div>
                            </div>
                            <div class="divider row"></div>
                            <div class="row center-align">
                                {% for mark in subject.listMark %}
                                    <div class="col s12 m6 l3 xl3">
                                        <div class="card  ">
                                            <div class="card-content">
                                                <span class="card-title truncate activator" title="{{mark.control.controlName}}">
                                                    {{mark.control.controlName}}</span>
                                                <div class="section">
                                                    <p>
                                                        <b>Note :
                                                            {{mark.value ~ "/" ~ mark.control.divisor}}</b>
                                                    </p>
                                                    <p>Coefficient :
                                                        {{mark.control.coefficient}}</p>
                                                </div>
                                            </div>
                                            <div class="card-reveal">
                                                <span class="card-title truncate">Détails</span>
                                                <p>Date :
                                                    {{mark.control.controlDate|date('d/m') }}</p>
                                                <p>Moyenne :
                                                    {% if mark.control.median is not null %}
                                                        {{mark.control.median}}{% else %}Non calculée{% endif %}
                                                </p>
                                                <p>Ecart Type :
                                                    {% if mark.control.average is not null %}
                                                        {{mark.control.average}}{% else %}Non calculée{% endif %}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="divider clearfix"></div>
                            <div class="footer left-align">
                                <span class="flow-text">
                                    Moyenne :
                                    {% if subject.Moyenne is not null %}
                                        {{ subject.Moyenne|round(2) }}
                                        <small>/20</small>
                                        {% else %}Pas de moyenne{% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</main>{% endblock %}